html {
  body {
    #first-slide {
      @include flexbox($direction: column);
      height: 90vh;

      #header {
        @include flex-item($flex-basis: 10%);
      }

      #intro {
        @include flex-item($flex-basis: 65%);
      }
    }

    #about {
      min-height: 10em;
    }

    #header, #about, #footer {
      background: black;
    }

    #intro, #works {
      background: white;
    }
  }
}
